Data/Train
Data/Img_Preprocessing_Binary
Data/Img_Preprocessing_Binary_v1
Data/Img_Preprocessing_Binary_6200
Data/Img_Preprocessing_Binary_3200
Data/Img_Preprocessing_Multi_700
Data/Img_Preprocessing_Multi_FiveClass